<div>
    <jhi-alert></jhi-alert>
    <br />

    <div class="row">
        <div class="col">
            <div class="col-xs-12 form-group">
                <a [routerLink]="['/', { outlets: { popup: ['materialhistory-stock-and-sales-utility-new'] } }]"
                    (click)="OnSale()"
                    class="list-group-item list-group-item-action list-group-item-dark">
                    <div class="text-nowrap"> 
                     <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon> 
                    <label>
                    <h5 class="list-group-item-heading list-group-item-dark">Vendre</h5>
                  </label>
                  </a>
            </div>
        </div>
    
        <div class="col">
            <div class="col-xs-12 form-group" *ngIf="hasAdminAuth">
                <a
                    [routerLink]="['/', { outlets: { popup: ['materialhistory-stock-and-sales-utility-new'] } }]"
                    (click)="OnBuy()"
                    class="list-group-item list-group-item-action list-group-item-dark">
                    <div class="text-nowrap"> 
                     <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon> 
                    <label>
                    <h5 class="list-group-item-heading list-group-item-dark">Acheter</h5>
                  </label>
                  </a>
            </div>
        </div>

        <div class="col">
            <div class="col-xs-12 form-group" *ngIf="hasAdminAuth">
                <a
                    (click)="OnTransf()"
                    class="list-group-item list-group-item-action list-group-item-dark">
                    <div class="text-nowrap"> 
                     <fa-icon [icon]="'list'" [fixedWidth]="true"></fa-icon> 
                    <label>
                    <h5 class="list-group-item-heading list-group-item-dark">Transférer</h5>
                  </label>
                  </a>
        </div>
    </div>
    </div>

    <br />
    <h5 class="list-group-item-heading">Filtres</h5>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-2">
            <label
                class="form-control-label"
                jhiTranslate="stockAndSalesManagementApp.materialhistory.transferClassif"
                for="field_transferClassif"
                >Transfer Classif</label
            >
            <select
                class="form-control"
                id="field_transferClassif"
                name="transferClassif"
                [(ngModel)]="transferClassifId"
                (ngModelChange)="filterResults()"
            >
                <option [ngValue]="null" selected></option>
                <option
                    [ngValue]="transferclassificationOption.id"
                    *ngFor="let transferclassificationOption of transferclassifications; trackBy: trackTransferclassificationById"
                    >{{ transferclassificationOption.name }}</option
                >
            </select>
        </div>

        <div class="form-group col-md-2">
            <label
                class="form-control-label"
                jhiTranslate="stockAndSalesManagementApp.materialhistory.transferDate"
                for="field_transferDate"
                >Transfer Date</label
            >
            <input
                id="field_transferDate"
                name="transferDate"
                placeholder="yyyy-mm-dd"
                class="form-control"
                ngbDatepicker
                (click)="datePicker.toggle()"
                [(ngModel)]="date"
                (ngModelChange)="filterResults()"
                #datePicker="ngbDatepicker"
            />
        </div>
        <div class="form-group col-md-2">
            <label
                class="form-control-label"
                jhiTranslate="stockAndSalesManagementApp.materialclassification.home.title"
                for="field_MatType"
                >Destination</label
            >
            <select
                class="form-control"
                id="field_MatType"
                name="materialType"
                [(ngModel)]="materialType"
                (ngModelChange)="filterResults()"
            >
                <option [ngValue]="null" selected></option>
                <option [ngValue]="matType.id" *ngFor="let matType of materialTypeList; trackBy: trackTransferclassificationById">{{
                    matType.name
                }}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.materialhistory.warehouseto" for="field_transferDest"
                >Destination</label
            >
            <select
                class="form-control"
                id="field_transferDest"
                name="transferDest"
                [(ngModel)]="transferDest"
                (ngModelChange)="filterResults()"
            >
                <option [ngValue]="null" selected></option>
                <option [ngValue]="third.id" *ngFor="let third of thirdList; trackBy: trackTransferclassificationById">{{
                    third.name
                }}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label
                class="form-control-label"
                jhiTranslate="stockAndSalesManagementApp.materialhistory.warehousefrom"
                for="field_transferSource"
                >Source</label
            >
            <select
                class="form-control"
                id="field_transferSource"
                name="transferSource"
                [(ngModel)]="transferSource"
                (ngModelChange)="filterResults()"
            >
                <option [ngValue]="null" selected></option>
                <option [ngValue]="third.id" *ngFor="let third of thirdList; trackBy: trackTransferclassificationById">{{
                    third.name
                }}</option>
            </select>
        </div>
    </div>
    <div class="row"></div>
    <br />

    <hr />

    <!-- <div class="col"> -->
    <!-- </div> -->

  <!--  <div class="container"> -->
        <div class="row">
            <div class="col-8">
                <h4 class="list-group-item-heading">Transfers</h4>
                <div class="table-responsive" *ngIf="materialhistories">
                    <table class="table  table-dark table-striped  table-sm table-hover">
                        <thead>
                            <tr
                                jhiSort
                                [(predicate)]="predicate"
                                [(ascending)]="reverse"
                                [callback]="transition.bind(this)"
                            >
                                <th jhiSortBy="id">
                                    <span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="code">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.code">Code</span>
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="creationDate">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.creationDate"
                                        >Creation Date</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="transferClassifName">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.transferClassif"
                                        >Transfer Classif</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="price">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.price"
                                        >Price</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="userModName">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.userMod"
                                        >userMod</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="warehousefromName">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.warehousefrom"
                                        >Warehousefrom</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="warehousetoName">
                                    <span jhiTranslate="stockAndSalesManagementApp.materialhistory.warehouseto"
                                        >Warehouseto</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>
                                <th jhiSortBy="materialclassificationDescription">
                                    <span
                                        jhiTranslate="stockAndSalesManagementApp.materialhistory.materialclassification"
                                        >Type d article</span
                                    >
                                    <span class="fa fa-sort"></span>
                                </th>

                                <!--
                                    <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.materialhistory.comments">Comments</span> <span class="fa fa-sort"></span></th>
                                -->

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let materialhistory of materialhistoriesToDisplay; trackBy: trackId">
                                <td>
                                    <a
                                        [routerLink]="[
                                            '../materialhistory-stock-and-sales-utility',
                                            materialhistory.id
                                        ]"
                                        >{{ materialhistory.id }}</a
                                    >
                                </td>
                                <td>{{ materialhistory.code }}</td>
                                <td>{{ materialhistory.creationDate | date: 'mediumDate' }}</td>
                                <td>
                                    <div *ngIf="materialhistory.transferClassifId">
                                        <a
                                            [routerLink]="[
                                                '../transferclassification-stock-and-sales-utility',
                                                materialhistory.transferClassifId
                                            ]"
                                            >{{ materialhistory.transferClassifName }}</a
                                        >
                                    </div>
                                </td>
                                <td>{{ materialhistory.price }}</td>
                                <td>{{ materialhistory.userModName }}</td>
                                <td>
                                    <div *ngIf="materialhistory.warehousefromId">
                                        <a
                                            [routerLink]="[
                                                '../third-stock-and-sales-utility',
                                                materialhistory.warehousefromId
                                            ]"
                                            >{{ materialhistory.warehousefromName }}</a
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="materialhistory.warehousetoId">
                                        <a
                                            [routerLink]="[
                                                '../third-stock-and-sales-utility',
                                                materialhistory.warehousetoId
                                            ]"
                                            >{{ materialhistory.warehousetoName }}</a
                                        >
                                    </div>
                                </td>
                                <td>{{ materialhistory.materialclassificationDescription }}</td>
                                <!-- <td>{{materialhistory.comments}}</td> -->
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                [routerLink]="['/materialhistory-stock-and-sales-utility', materialhistory.id, 'view' ]"
                                                class="btn btn-outline-secondary btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/materialhistory-stock-and-sales-utility', materialhistory.id, 'edit']"
                                                class="btn btn-outline-secondary btn-sm" *ngIf="hasAdminAuth">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'materialhistory-stock-and-sales-utility/'+ materialhistory.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-outline-secondary btn-sm" *ngIf="hasAdminAuth">
                                            <fa-icon [icon]="'times'"> </fa-icon>
                                             <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>              
                </div>
                <div *ngIf="materialhistories && materialhistories.length">
                    <div class="row justify-content-center">
                        <jhi-item-count
                            [page]="page"
                            [total]="queryCount"
                            [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"
                        ></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination
                            [collectionSize]="totalItems"
                            [(page)]="page"
                            [pageSize]="itemsPerPage"
                            [maxSize]="5"
                            [rotate]="true"
                            [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"
                        ></ngb-pagination>
                    </div>
                </div>
            </div>
          <!--  <div class="row"> -->
                <div class="col-4">
                    <h4 class="list-group-item-heading">Stock</h4>
                    <table class="table  table-dark table-striped  table-sm table-hover">
                        <thead>
                            <tr>
                                <!-- <th><span jhiTranslate="global.field.id">ID</span></th> -->
                                <th>
                                    <span
                                        jhiTranslate="stockAndSalesManagementApp.dashboard.materialTypeDefDashboard"
                                        >Type de materiel</span
                                    >
                                </th>
                                <th><span>Quantité</span></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let inventory of inventories; trackBy: trackId">
                                <!--
                                    <td><a [routerLink]="['../dashboard-stock-and-sales-utility', dashboard.id ]">{{dashboard.id}}</a></td>
                                -->
                                <td>{{ inventory.materialTypeCatName }}</td>
                                <td>
                                    <div *ngIf="inventory.numberOfItems">{{ inventory.numberOfItems }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
</div>
