    <div class="modal-header">
        <h4 class="modal-title" id="myMaterialhistoryLabel">Sélection des Articles</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>

    <hr>

    <div class="container">
    <div class="form-group row">
            <div class="col-xs-3">
                 <!--   <div class="input-group mb-1">
                        <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>-->
                  <input [(ngModel)]="searchfield"  (keyup)="onKey($event)" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            </div>
        </div>
     </div>
        
      <div class="table-responsive" *ngIf="materials">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span>Select</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="code"><span jhiTranslate="stockAndSalesManagementApp.material.code">Code</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="description"><span jhiTranslate="stockAndSalesManagementApp.material.description">Description</span> <span class="fa fa-sort"></span></th>
                <!--  <th jhiSortBy="creationDate"><span jhiTranslate="stockAndSalesManagementApp.material.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>-->
             <!--   <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.material.comments">Comments</span> <span class="fa fa-sort"></span></th>-->
                <th jhiSortBy="materialTypeDefName"><span jhiTranslate="stockAndSalesManagementApp.material.materialTypeDef">Material Type Def</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="lotIdentifierCode"><span jhiTranslate="stockAndSalesManagementApp.material.lotIdentifier">Lot Identifier</span> <span class="fa fa-sort"></span></th>
              <!--  <th jhiSortBy="materialTypeCatName"><span jhiTranslate="stockAndSalesManagementApp.material.materialTypeCat">Material Type Cat</span> <span class="fa fa-sort"></span></th>-->
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let material of materialsToDisplay  ;trackBy: trackId">
                    <!-- | fullTextSearch:searchfield:'code' <td><a [routerLink]="['../material-stock-and-sales-utility', material.id ]">{{material.id}}</a></td>-->
                    <td><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
                      </div>
                    </td>
                    <td><a [routerLink]="['../material-stock-and-sales-utility', material.id ]"></a>{{material.code}}</td>
                    <td>{{material.description}}</td>
               <!--     <td>{{material.creationDate | date:'mediumDate'}}</td>-->
               <!--     <td>{{material.comments}}</td>-->
                 
                  <td>
                        <div *ngIf="material.materialTypeDefId">
                            <a [routerLink]="['../materialclassification-stock-and-sales-utility', material.materialTypeDefId  ]" >{{material.materialTypeDefName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="material.lotIdentifierId">
                            <a [routerLink]="['../lot-stock-and-sales-utility', material.lotIdentifierId  ]" >{{material.lotIdentifierCode}}</a>
                        </div>
                    </td>
                  <!--  <td>
                        <div *ngIf="material.materialTypeCatId">
                            <a [routerLink]="['../materialclassification-stock-and-sales-utility', material.materialTypeCatId  ]" >{{material.materialTypeCatName}}</a>
                        </div>
                    </td>-->
                 <!--   <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../material-stock-and-sales-utility', material.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'material-stock-and-sales-utility/'+ material.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'material-stock-and-sales-utility/'+ material.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div> 
    </div>
       
       <div *ngIf="materials && materials.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]=" isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
