
<div *ngIf="materialclassification">
    <h2><span jhiTranslate="stockAndSalesManagementApp.materialclassification.detail.title">Materialclassification</span> {{materialclassification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockAndSalesManagementApp.materialclassification.code">Code</span></dt>
        <dd>
            <span>{{materialclassification.code}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.materialclassification.name">Name</span></dt>
        <dd>
            <span>{{materialclassification.name}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.materialclassification.comments">Comments</span></dt>
        <dd>
            <span>{{materialclassification.comments}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'materialclassification-stock-and-sales-utility/'+ materialclassification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
