<div>
    <h2 id="page-heading">
        <span jhiTranslate="stockAndSalesManagementApp.material.home.title">Materials</span>
        <button id="jh-create-entity" class="btn btn btn-outline-dark float-right jh-create-entity create-material-stock-and-sales-utility" [routerLink]="['/material-stock-and-sales-utility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="stockAndSalesManagementApp.material.home.createLabel">
            Create new Material
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="materials">
        <table class="table table-dark table-striped  table-sm table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="stockAndSalesManagementApp.material.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="stockAndSalesManagementApp.material.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="stockAndSalesManagementApp.material.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.material.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="materialTypeDefName"><span jhiTranslate="stockAndSalesManagementApp.material.materialTypeDef">Material Type Def</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lotIdentifierCode"><span jhiTranslate="stockAndSalesManagementApp.material.lotIdentifier">Lot Identifier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="materialTypeCatName"><span jhiTranslate="stockAndSalesManagementApp.material.materialTypeCat">Material Type Cat</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materials ;trackBy: trackId">
                <td><a [routerLink]="['/material-stock-and-sales-utility', material.id, 'view' ]">{{material.id}}</a></td>
                <td>{{material.code}}</td>
                <td>{{material.description}}</td>
                <td>{{material.creationDate | date:'mediumDate'}}</td>
                <td>{{material.comments}}</td>
                <td>
                    <div *ngIf="material.materialTypeDefId">
                        <a [routerLink]="['../materialclassification-stock-and-sales-utility', material.materialTypeDefId , 'view' ]" >{{material.materialTypeDefName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="material.lotIdentifierId">
                        <a [routerLink]="['../lot-stock-and-sales-utility', material.lotIdentifierId , 'view' ]" >{{material.lotIdentifierCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="material.materialTypeCatId">
                        <a [routerLink]="['../materialclassification-stock-and-sales-utility', material.materialTypeCatId , 'view' ]" >{{material.materialTypeCatName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/material-stock-and-sales-utility', material.id, 'view' ]"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/material-stock-and-sales-utility', material.id, 'edit']"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'material-stock-and-sales-utility/'+ material.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                             <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="materials && materials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
