<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="thirdclassification">
            <h2><span jhiTranslate="stockAndSalesManagementApp.thirdclassification.detail.title">Thirdclassification</span> {{thirdclassification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockAndSalesManagementApp.thirdclassification.code">Code</span></dt>
                <dd>
                    <span>{{thirdclassification.code}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.thirdclassification.name">Name</span></dt>
                <dd>
                    <span>{{thirdclassification.name}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.thirdclassification.comments">Comments</span></dt>
                <dd>
                    <span>{{thirdclassification.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/thirdclassification-stock-and-sales-utility', thirdclassification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
