<div>
    <h2 id="page-heading">
        <span jhiTranslate="stockAndSalesManagementApp.currency.home.title">Currencies</span>
        <button id="jh-create-entity" class="btn btn btn-outline-dark float-right jh-create-entity create-currency-stock-and-sales-utility" [routerLink]="['/currency-stock-and-sales-utility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="stockAndSalesManagementApp.currency.home.createLabel">
            Create new Currency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="currencies">
        <table class="table table-dark table-striped  table-sm table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isoCode"><span jhiTranslate="stockAndSalesManagementApp.currency.isoCode">Iso Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="stockAndSalesManagementApp.currency.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let currency of currencies ;trackBy: trackId">
                <td><a [routerLink]="['/currency-stock-and-sales-utility', currency.id, 'view' ]">{{currency.id}}</a></td>
                <td>{{currency.isoCode}}</td>
                <td>{{currency.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/currency-stock-and-sales-utility', currency.id, 'view' ]"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/currency-stock-and-sales-utility', currency.id, 'edit']"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'currency-stock-and-sales-utility/'+ currency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                             <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
