<div>
    <h2 id="page-heading">
        <span jhiTranslate="stockAndSalesManagementApp.civility.home.title">Civilities</span>
        <button id="jh-create-entity" class="btn btn btn-outline-dark float-right jh-create-entity create-civility-stock-and-sales-utility" [routerLink]="['/civility-stock-and-sales-utility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="stockAndSalesManagementApp.civility.home.createLabel">
            Create new Civility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="civilities">
        <table class="table table-dark table-striped  table-sm table-hover">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.code">Code</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.name">Name</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.comments">Comments</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let civility of civilities ;trackBy: trackId">
                <td><a [routerLink]="['/civility-stock-and-sales-utility', civility.id, 'view' ]">{{civility.id}}</a></td>
                <td>{{civility.code}}</td>
                <td>{{civility.name}}</td>
                <td>{{civility.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/civility-stock-and-sales-utility', civility.id, 'view' ]"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/civility-stock-and-sales-utility', civility.id, 'edit']"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'civility-stock-and-sales-utility/'+ civility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                             <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
