<div>
    <h2>
        <span jhiTranslate="stockAndSalesManagementApp.civility.home.title">Civilities</span>
        <button class="btn btn-primary float-right jh-create-entity create-civility-stock-and-sales-utility" [routerLink]="['/', { outlets: { popup: ['civility-stock-and-sales-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="stockAndSalesManagementApp.civility.home.createLabel">
            Create new Civility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="civilities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.code">Code</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.name">Name</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.civility.comments">Comments</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let civility of civilities ;trackBy: trackId">
                <td><a [routerLink]="['../civility-stock-and-sales-utility', civility.id ]">{{civility.id}}</a></td>
                <td>{{civility.code}}</td>
                <td>{{civility.name}}</td>
                <td>{{civility.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../civility-stock-and-sales-utility', civility.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'civility-stock-and-sales-utility/'+ civility.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'civility-stock-and-sales-utility/'+ civility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
