<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-transferclassification-stock-and-sales-utility-heading" jhiTranslate="stockAndSalesManagementApp.transferclassification.home.createOrEditLabel">Create or edit a Transferclassification</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transferclassification.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transferclassification.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="transferclassification.code" required maxlength="3"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 3 }">
                        This field cannot be longer than 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="transferclassification.name" required maxlength="60"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                        This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.isOutgoingTransfer" for="field_isOutgoingTransfer">Is Outgoing Transfer</label>
                    <input type="checkbox" class="form-control" name="isOutgoingTransfer" id="field_isOutgoingTransfer"
                        [(ngModel)]="transferclassification.isOutgoingTransfer" />
                    <div [hidden]="!(editForm.controls.isOutgoingTransfer?.dirty && editForm.controls.isOutgoingTransfer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isOutgoingTransfer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.isIncomingTransfer" for="field_isIncomingTransfer">Is Incoming Transfer</label>
                    <input type="checkbox" class="form-control" name="isIncomingTransfer" id="field_isIncomingTransfer"
                        [(ngModel)]="transferclassification.isIncomingTransfer" />
                    <div [hidden]="!(editForm.controls.isIncomingTransfer?.dirty && editForm.controls.isIncomingTransfer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isIncomingTransfer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.isInternalTransfer" for="field_isInternalTransfer">Is Internal Transfer</label>
                    <input type="checkbox" class="form-control" name="isInternalTransfer" id="field_isInternalTransfer"
                        [(ngModel)]="transferclassification.isInternalTransfer" />
                    <div [hidden]="!(editForm.controls.isInternalTransfer?.dirty && editForm.controls.isInternalTransfer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isInternalTransfer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.transferclassification.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                        [(ngModel)]="transferclassification.comments" maxlength="500"/>
                    <div [hidden]="!(editForm.controls.comments?.dirty && editForm.controls.comments?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.comments?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
