<div>
    <h2>
        <span jhiTranslate="stockAndSalesManagementApp.transferclassification.home.title">Transferclassifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-transferclassification-stock-and-sales-utility" [routerLink]="['/', { outlets: { popup: ['transferclassification-stock-and-sales-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="stockAndSalesManagementApp.transferclassification.home.createLabel">
            Create new Transferclassification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="transferclassifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isOutgoingTransfer"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.isOutgoingTransfer">Is Outgoing Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isIncomingTransfer"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.isIncomingTransfer">Is Incoming Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isInternalTransfer"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.isInternalTransfer">Is Internal Transfer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.transferclassification.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let transferclassification of transferclassifications ;trackBy: trackId">
                <td><a [routerLink]="['../transferclassification-stock-and-sales-utility', transferclassification.id ]">{{transferclassification.id}}</a></td>
                <td>{{transferclassification.code}}</td>
                <td>{{transferclassification.name}}</td>
                <td>{{transferclassification.isOutgoingTransfer}}</td>
                <td>{{transferclassification.isIncomingTransfer}}</td>
                <td>{{transferclassification.isInternalTransfer}}</td>
                <td>{{transferclassification.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../transferclassification-stock-and-sales-utility', transferclassification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transferclassification-stock-and-sales-utility/'+ transferclassification.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transferclassification-stock-and-sales-utility/'+ transferclassification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
