<div>
    <h2>
        <span jhiTranslate="stockAndSalesManagementApp.third.home.title">Thirds</span>
        <button class="btn btn-primary float-right jh-create-entity create-third-stock-and-sales-utility" [routerLink]="['/', { outlets: { popup: ['third-stock-and-sales-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="stockAndSalesManagementApp.third.home.createLabel">
            Create new Third
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="thirds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.code">Code</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.name">Name</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.comments">Comments</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.defaultWarehouse">Default Warehouse</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.addressthird">Addressthird</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.thirdClassif">Third Classif</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.third.civilityClassif">Civility Classif</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let third of thirds ;trackBy: trackId">
                <td><a [routerLink]="['../third-stock-and-sales-utility', third.id ]">{{third.id}}</a></td>
                <td>{{third.code}}</td>
                <td>{{third.name}}</td>
                <td>{{third.comments}}</td>
                <td>{{third.defaultWarehouse}}</td>
                <td>
                    <span *ngFor="let addressthird of third.addressthirds; let last = last">
                            <a class="form-control-static" [routerLink]="['../address-stock-and-sales-utility', addressthird?.id ]">{{addressthird.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="third.thirdClassifId">
                        <a [routerLink]="['../thirdclassification-stock-and-sales-utility', third.thirdClassifId  ]" >{{third.thirdClassifName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="third.civilityClassifId">
                        <a [routerLink]="['../civility-stock-and-sales-utility', third.civilityClassifId  ]" >{{third.civilityClassifName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../third-stock-and-sales-utility', third.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'third-stock-and-sales-utility/'+ third.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'third-stock-and-sales-utility/'+ third.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
