<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="third">
            <h2><span jhiTranslate="stockAndSalesManagementApp.third.detail.title">Third</span> {{third.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.code">Code</span></dt>
                <dd>
                    <span>{{third.code}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.name">Name</span></dt>
                <dd>
                    <span>{{third.name}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.comments">Comments</span></dt>
                <dd>
                    <span>{{third.comments}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.defaultWarehouse">Default Warehouse</span></dt>
                <dd>
                    <span>{{third.defaultWarehouse}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.addressthird">Addressthird</span></dt>
                <dd>
                    <span *ngFor="let addressthird of third.addressthirds; let last = last">
                        <a [routerLink]="['/address-stock-and-sales-utility', addressthird?.id, 'view' ]">{{addressthird.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.thirdClassif">Third Classif</span></dt>
                <dd>
                    <div *ngIf="third.thirdClassifId">
                        <a [routerLink]="['/thirdclassification-stock-and-sales-utility', third.thirdClassifId, 'view']">{{third.thirdClassifName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.third.civilityClassif">Civility Classif</span></dt>
                <dd>
                    <div *ngIf="third.civilityClassifId">
                        <a [routerLink]="['/civility-stock-and-sales-utility', third.civilityClassifId, 'view']">{{third.civilityClassifName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/third-stock-and-sales-utility', third.id, 'edit']"
                    class="btn btn-outline-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
