<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userAuthorizedThird">
            <h2><span jhiTranslate="stockAndSalesManagementApp.userAuthorizedThird.detail.title">User Authorized Third</span> {{userAuthorizedThird.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockAndSalesManagementApp.userAuthorizedThird.defaultThird">Default Third</span></dt>
                <dd>
                    <span>{{userAuthorizedThird.defaultThird}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.userAuthorizedThird.defaultDestination">Default Destination</span></dt>
                <dd>
                    <span>{{userAuthorizedThird.defaultDestination}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.userAuthorizedThird.userAuth">User Auth</span></dt>
                <dd>
                    {{userAuthorizedThird.userAuthLogin}}
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.userAuthorizedThird.thirdAuth">Third Auth</span></dt>
                <dd>
                    <div *ngIf="userAuthorizedThird.thirdAuthId">
                        <a [routerLink]="['/third-stock-and-sales-utility', userAuthorizedThird.thirdAuthId, 'view']">{{userAuthorizedThird.thirdAuthName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-authorized-third', userAuthorizedThird.id, 'edit']"
                    class="btn btn-outline-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
