
<div *ngIf="company">
    <h2><span jhiTranslate="stockAndSalesManagementApp.company.detail.title">Company</span> {{company.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockAndSalesManagementApp.company.code">Code</span></dt>
        <dd>
            <span>{{company.code}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.company.name">Name</span></dt>
        <dd>
            <span>{{company.name}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.company.comments">Comments</span></dt>
        <dd>
            <span>{{company.comments}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.company.baseCurrency">Base Currency</span></dt>
        <dd>
            <div *ngIf="company.baseCurrencyId">
                <a [routerLink]="['/currency-stock-and-sales-utility', company.baseCurrencyId]">{{company.baseCurrencyIsoCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-stock-and-sales-utility/'+ company.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
