<div>
    <h2 id="page-heading">
        <span jhiTranslate="stockAndSalesManagementApp.addressclassification.home.title">Addressclassifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-addressclassification-stock-and-sales-utility" [routerLink]="['/addressclassification-stock-and-sales-utility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="stockAndSalesManagementApp.addressclassification.home.createLabel">
            Create new Addressclassification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="addressclassifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="stockAndSalesManagementApp.addressclassification.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="stockAndSalesManagementApp.addressclassification.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.addressclassification.comments">Comments</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let addressclassification of addressclassifications ;trackBy: trackId">
                <td><a [routerLink]="['/addressclassification-stock-and-sales-utility', addressclassification.id, 'view' ]">{{addressclassification.id}}</a></td>
                <td>{{addressclassification.code}}</td>
                <td>{{addressclassification.name}}</td>
                <td>{{addressclassification.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/addressclassification-stock-and-sales-utility', addressclassification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/addressclassification-stock-and-sales-utility', addressclassification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'addressclassification-stock-and-sales-utility/'+ addressclassification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
