
<div *ngIf="addressclassification">
    <h2><span jhiTranslate="stockAndSalesManagementApp.addressclassification.detail.title">Addressclassification</span> {{addressclassification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockAndSalesManagementApp.addressclassification.code">Code</span></dt>
        <dd>
            <span>{{addressclassification.code}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.addressclassification.name">Name</span></dt>
        <dd>
            <span>{{addressclassification.name}}</span>
        </dd>
        <dt><span jhiTranslate="stockAndSalesManagementApp.addressclassification.comments">Comments</span></dt>
        <dd>
            <span>{{addressclassification.comments}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'addressclassification-stock-and-sales-utility/'+ addressclassification.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
