<div class="row">
    <div class="col-md-3">
      <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
    <!-- <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
      <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>-->

      <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-success" *ngSwitchCase="true">
          <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
        </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
          <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:
            <br/>- Administrator (login="admin" and password="admin")
            <br/>- User (login="user" and password="user").</span>
        </div>
        <div class="alert alert-warning" *ngSwitchCase="false">
          <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
          <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      </div>

      <!--<p jhiTranslate="home.question">
          If you have any question on JHipster:
      </p>

      <ul>
          <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
          <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
          <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
          <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
          <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
      </ul>

      <p>
          <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
      </p>-->
      <div *ngIf="isAuthenticated()" class="container">
        <div class="row">
          <div class="col">
            <h4 class="list-group-item-heading">Gestion</h4>
          </div>
          <div class="col">
            <h4 class="list-group-item-heading" *ngIf="hasAdminAuth">Configuration</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <a routerLink="dashboard-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
              <div class="pull-left">
                <h5 class="list-group-item-heading">Tableau de Bord</h5>
                <p class="list-group-item-text">Voir le tableau de Bord</p>
              </div>
              <span class="pull-right">
                <img src="../../content/images/action.jpg" alt="noImage" class="img-responsive" style="max-height: 50px;">
              </span>
            </a>
          </div>
          <div class="col" *ngIf="hasAdminAuth">
            <a routerLink="company-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
              <div class="pull-left">
                <h5 class="list-group-item-heading">Société</h5>
                <p class="list-group-item-text">Gérer/Visualiser les société</p>
              </div>
              <span class="pull-right">
                <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
              </span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a routerLink="materialhistory-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              class="list-group-item clearfix">
              <div class="pull-left">
                <h5 class="list-group-item-heading">Vendre/Transférer</h5>
                <p class="list-group-item-text">Vendre/Acheter/Transférer des Articles</p>
              </div>
              <span class="pull-right">
                <img src="../../content/images/action.jpg" alt="noImage" class="img-responsive" style="max-height: 50px;">
              </span>
            </a>
          </div>
          <div class="col" *ngIf="hasAdminAuth">
          <a routerLink="currency-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
            <div class="pull-left">
              <h5 class="list-group-item-heading">Monnaies</h5>
              <p class="list-group-item-text">Gérer/Visualiser les monnaies</p>
            </div>
            <span class="pull-right">
              <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
            </span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="hasAdminAuth"> 
          <a routerLink="material-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
            <div class="pull-left">
              <h5 class="list-group-item-heading">Créer des Articles</h5>
              <p class="list-group-item-text">Créer/Modifier des Articles</p>
            </div>
            <span class="pull-right">
              <img src="../../content/images/action.jpg" alt="noImage" class="img-responsive" style="max-height: 50px;">
            </span>
          </a>
        </div>
        <div class="col" *ngIf="hasAdminAuth" >
      <a routerLink="forexrates-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Taux de Change</h5>
          <p class="list-group-item-text">Gérer/Visualiser les Taux de Change</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngIf="hasAdminAuth">
      <a routerLink="lot-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Créer des Lots</h5>
          <p class="list-group-item-text">Créer/Modifier des lots d'articles</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/action.jpg" alt="noImage" class="img-responsive" style="max-height: 50px;">
        </span>
      </a>
    </div>
    <div class="col" *ngIf="hasAdminAuth">
      <a routerLink="civility-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Civilités</h5>
          <p class="list-group-item-text">Gérer/Visualiser les civilités</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col" *ngIf="hasAdminAuth">
      <a routerLink="country-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Pays</h5>
          <p class="list-group-item-text">Gérer/Visualiser les pays</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col" *ngIf="hasAdminAuth">
      <a routerLink="thirdclassification-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Types de Tiers</h5>
          <p class="list-group-item-text">Gérer/Visualiser les Types de Tiers</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col" *ngIf="hasAdminAuth">
      <a routerLink="transferclassification-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item clearfix">
        <div class="pull-left">
          <h5 class="list-group-item-heading">Types de Tranfers</h5>
          <p class="list-group-item-text">Gérer/Visualiser les Types de Transfer</p>
        </div>
        <span class="pull-right">
          <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
        </span>
      </a>
    </div>

  </div>
  <div class="row">
      <div class="col">

      </div>
      <div class="col" *ngIf="hasAdminAuth">
        <a routerLink="materialclassification-stock-and-sales-utility" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="list-group-item clearfix">
          <div class="pull-left">
            <h5 class="list-group-item-heading">Types d'articles</h5>
            <p class="list-group-item-text">Gérer/Visualiser les Types d'articles</p>
          </div>
          <span class="pull-right">
            <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
          </span>
        </a>
      </div>

    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col" *ngIf="hasAdminAuth">
          <a routerLink="user-authorized-third" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item clearfix">
            <div class="pull-left">
              <h5 class="list-group-item-heading">Utilisateurs</h5>
              <p class="list-group-item-text">Gérer les Acces aux Tiers </p>
            </div>
            <span class="pull-right">
              <img src="../../content/images/setup.jpeg" alt="noImage" class="img-responsive" style="max-height: 25px;">
            </span>
          </a>
        </div>

      </div>

  </div>
  </div>
  </div>
