<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLotLabel" jhiTranslate="stockAndSalesManagementApp.lot.home.createOrEditLabel">Create or edit a Lot</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lot.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lot.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="lot.code" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="lot.description" required maxlength="200"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="lot.creationDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.numberOfItems" for="field_numberOfItems">Number Of Items</label>
            <input type="number" class="form-control" name="numberOfItems" id="field_numberOfItems"
                [(ngModel)]="lot.numberOfItems" required/>
            <div [hidden]="!(editForm.controls.numberOfItems?.dirty && editForm.controls.numberOfItems?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numberOfItems?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numberOfItems?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                [(ngModel)]="lot.comments" maxlength="500"/>
            <div [hidden]="!(editForm.controls.comments?.dirty && editForm.controls.comments?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comments?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.unitBuyPrice" for="field_unitBuyPrice">Unit Buy Price</label>
            <input type="number" class="form-control" name="unitBuyPrice" id="field_unitBuyPrice"
                [(ngModel)]="lot.unitBuyPrice" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.buycurrencylot" for="field_buycurrencylot">Buycurrencylot</label>
            <select class="form-control" id="field_buycurrencylot" name="buycurrencylot" [(ngModel)]="lot.buycurrencylotId"  required>
                <option *ngIf="!editForm.value.buycurrencylot" [ngValue]="null" selected></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.isoCode}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.buycurrencylot?.dirty && editForm.controls.buycurrencylot?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.buycurrencylot?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockAndSalesManagementApp.lot.materialclassification" for="field_materialclassification">Materialclassification</label>
            <select class="form-control" id="field_materialclassification" name="materialclassification" [(ngModel)]="lot.materialclassificationId"  required>
                <option *ngIf="!editForm.value.materialclassification" [ngValue]="null" selected></option>
                <option [ngValue]="materialclassificationOption.id" *ngFor="let materialclassificationOption of materialclassifications; trackBy: trackMaterialclassificationById">{{materialclassificationOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.materialclassification?.dirty && editForm.controls.materialclassification?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.materialclassification?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="createLotAndArticle()">
            <span class="fa fa-save"></span>&nbsp;<span>Generer les Articles</span>
        </button>

    </div>
</form>
