<div>
    <h2>
        <span jhiTranslate="stockAndSalesManagementApp.lot.home.title">Lots</span>
        <button class="btn btn-primary float-right jh-create-entity create-lot-stock-and-sales-utility" [routerLink]="['/', { outlets: { popup: ['lot-stock-and-sales-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="stockAndSalesManagementApp.lot.home.createLabel">
            Create new Lot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lots">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="stockAndSalesManagementApp.lot.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="stockAndSalesManagementApp.lot.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="stockAndSalesManagementApp.lot.creationDate">Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfItems"><span jhiTranslate="stockAndSalesManagementApp.lot.numberOfItems">Number Of Items</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="stockAndSalesManagementApp.lot.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitBuyPrice"><span jhiTranslate="stockAndSalesManagementApp.lot.unitBuyPrice">Unit Buy Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="buycurrencylotIsoCode"><span jhiTranslate="stockAndSalesManagementApp.lot.buycurrencylot">Buycurrencylot</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lot of lots ;trackBy: trackId">
                <td><a [routerLink]="['../lot-stock-and-sales-utility', lot.id ]">{{lot.id}}</a></td>
                <td>{{lot.code}}</td>
                <td>{{lot.description}}</td>
                <td>{{lot.creationDate | date:'mediumDate'}}</td>
                <td>{{lot.numberOfItems}}</td>
                <td>{{lot.comments}}</td>
                <td>{{lot.unitBuyPrice}}</td>
                <td>
                    <div *ngIf="lot.buycurrencylotId">
                        <a [routerLink]="['../currency-stock-and-sales-utility', lot.buycurrencylotId  ]" >{{lot.buycurrencylotIsoCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lot-stock-and-sales-utility', lot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lot-stock-and-sales-utility/'+ lot.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lot-stock-and-sales-utility/'+ lot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lots && lots.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
