<div>
    <h2 id="page-heading">
        <span jhiTranslate="stockAndSalesManagementApp.address.home.title">Addresses</span>
        <button id="jh-create-entity" class="btn btn btn-outline-dark float-right jh-create-entity create-address-stock-and-sales-utility" [routerLink]="['/address-stock-and-sales-utility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="stockAndSalesManagementApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-dark table-striped  table-sm table-hover">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.description">Description</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.line1">Line 1</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.line2">Line 2</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.line3">Line 3</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.line4">Line 4</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.zipCode">Zip Code</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.state">State</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.validFrom">Valid From</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.validTo">Valid To</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.comments">Comments</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.addressClassif">Address Classif</span></th>
            <th><span jhiTranslate="stockAndSalesManagementApp.address.countryAddress">Country Address</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['/address-stock-and-sales-utility', address.id, 'view' ]">{{address.id}}</a></td>
                <td>{{address.description}}</td>
                <td>{{address.line1}}</td>
                <td>{{address.line2}}</td>
                <td>{{address.line3}}</td>
                <td>{{address.line4}}</td>
                <td>{{address.zipCode}}</td>
                <td>{{address.state}}</td>
                <td>{{address.validFrom | date:'mediumDate'}}</td>
                <td>{{address.validTo | date:'mediumDate'}}</td>
                <td>{{address.comments}}</td>
                <td>
                    <div *ngIf="address.addressClassifId">
                        <a [routerLink]="['../addressclassification-stock-and-sales-utility', address.addressClassifId , 'view' ]" >{{address.addressClassifName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.countryAddressId">
                        <a [routerLink]="['../country-stock-and-sales-utility', address.countryAddressId , 'view' ]" >{{address.countryAddressName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/address-stock-and-sales-utility', address.id, 'view' ]"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/address-stock-and-sales-utility', address.id, 'edit']"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-stock-and-sales-utility/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-outline-secondary btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                             <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
