<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="stockAndSalesManagementApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.description">Description</span></dt>
                <dd>
                    <span>{{address.description}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.line1">Line 1</span></dt>
                <dd>
                    <span>{{address.line1}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.line2">Line 2</span></dt>
                <dd>
                    <span>{{address.line2}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.line3">Line 3</span></dt>
                <dd>
                    <span>{{address.line3}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.line4">Line 4</span></dt>
                <dd>
                    <span>{{address.line4}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{address.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.state">State</span></dt>
                <dd>
                    <span>{{address.state}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{address.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.validTo">Valid To</span></dt>
                <dd>
                    <span>{{address.validTo}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.comments">Comments</span></dt>
                <dd>
                    <span>{{address.comments}}</span>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.addressClassif">Address Classif</span></dt>
                <dd>
                    <div *ngIf="address.addressClassifId">
                        <a [routerLink]="['/addressclassification-stock-and-sales-utility', address.addressClassifId, 'view']">{{address.addressClassifName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="stockAndSalesManagementApp.address.countryAddress">Country Address</span></dt>
                <dd>
                    <div *ngIf="address.countryAddressId">
                        <a [routerLink]="['/country-stock-and-sales-utility', address.countryAddressId, 'view']">{{address.countryAddressName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-stock-and-sales-utility', address.id, 'edit']"
                    class="btn btn-outline-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
